.banner {
    background: #121212;
    color: #eaebea;
    text-align: center;
    padding: 1.4rem 0;
    position: relative;
  }
  
  h1 {
    font-family: 'Barlow', sans-serif;
  }
  
  .github-link {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: #eaebea;
    text-decoration: none;
  }