.cv-preview {
    width: 50vw;
    background: white;
    margin: 3rem auto;
    border-radius: 2px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template: 1fr 8fr / 1fr 3fr;
    font-family: 'Barlow', sans-serif;
}

.preview-header {
    background: rgb(14, 35, 82);
    grid-area: 1 / 1 / 2 / 3;
    padding: 2rem 2rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    color: white;
}

.preview-header p {
    font-size: 1.4rem;
}

.preview-header h2 {
    font-size: 2rem;
}

.preview-aside {
    background: #eaebea;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 0;
}

.personal-details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.2rem;
    width: 100%;
    align-items: center;
}

.preview-main {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 1.2rem;
}

.description {
    text-align: center;
}

.educations {
    display: flex;
    gap: 0.6rem;
}

.educations div {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.educations div:hover > .delete-education {
    opacity: 1;
}

.delete-education {
    border: none;
    opacity: 0;
}

.delete-education:hover {
    color: crimson;
}